

.landingPagePic {
    
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 120px;
    
}

.container {
    position: relative;
    text-align: center;
    display: flex;
}

.text-header-start {
    position: absolute;
    top: 35%;
    right: 38%;
    left: 39%;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
.text-description-start {
    position: absolute;
    top: 40%;
    right: 34%;
    left: 35%;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}
.text-header-icons {
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.homeLogo {
    width: 150px;
}

.icons {
    
    width: 400px;
}

.getStated { 
    background-color: #6AFFA1;
}
.containerBox {
    position: relative;
    text-align: center;
    display: flex;
    margin-bottom: 100px;
    
}
.box {
    box-sizing:border-box; 
    width: 100%;
    float: left;
    
}
.link {
    padding:20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer {
    
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: gray ;
    color: rgb(49, 48, 48);
    text-align: center;
}
