.persona {
    padding: 15px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    border-style: solid;
    border-color: lightgrey;
    border-radius: 5px;
    border-width: thin;
}
.persona:hover {
    border-color: black;
}